<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <button class="button-photos" [routerLink]="['gallery']">More Photos</button>
      </div>
      <img class="d-block w-100" src="../assets/images/1.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <button class="button" [routerLink]="['models']">See Models</button>
      </div>
      <img class="d-block w-100" src="../assets/images/2.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <button class="button" [routerLink]="['contact']">Contact Us</button>
      </div>
      <img class="d-block w-100" src="../assets/images/3.jpeg" alt="Third slide">
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
