.menu ul {
  display: flex;
  justify-content: space-between;
}


.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.button {
  background-color: Transparent;
}

.button, .button-photos {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  color: #978c87;
}

.button-photos {
  background-color: whitesmoke;
}


.carousel-caption {
  position: absolute;
  top: 1%;
  right: 11%;
  text-align: right;
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-item img {
  padding-right: 10%;
  padding-left: 10%;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #978c87;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #978c87;
}


.tales {
  width: 100%;
}
.carousel-inner{
  max-width:100%;
  max-height: 550px !important;
}

.carousel-control-next {
  top: 60px;
}
@media(min-width: 500px){

}

@media(max-width: 500px){
  .carousel-inner{
    max-width:100%;
    max-height: 100% !important;
  }

  
  .carousel-item img {
    padding-right: 0;
    padding-left: 0;
    height: 400px;
  }
}
