
<div class="newPictureForm">
  <h2>New Picture</h2>
  <div *ngIf="formInvalid && newPictureForm.invalid">
    <p class="alert-required">There are errors in the form, please review the fields</p>
  </div>
  <form [formGroup]="newPictureForm">
    <div class="form-group" *ngIf="user">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name" required>
      </label>
      <div *ngIf="name.invalid && (name.dirty || name.touched || formInvalid)" class="alert-required">
        <div *ngIf="name.errors.required || formInvalid">
          Name is required.
        </div>
      </div>
      <label class="center-block">Type
        <select formControlName="categoryType">
          <option class="form-control" *ngFor="let type of types" [value]="type.name">{{type.name}}</option>
        </select>
      </label>
      <div *ngIf="categoryType.invalid && (categoryType.dirty || categoryType.touched || formInvalid)" class="alert-required">
        <div *ngIf="categoryType.errors.required">
          Category is required.
        </div>
      </div>
      <label class="center-block">Model Type
        <select formControlName="modelType">
          <option class="form-control" *ngFor="let modelType of modelTypes" [value]="modelType.name">{{modelType.name}}</option>
        </select>
      </label>
      <div *ngIf="modelType.invalid && (modelType.dirty || modelType.touched || formInvalid)" class="alert-required">
        <div *ngIf="modelType.errors.required">
          Model Category is required.
        </div>
      </div>
      <label class="center-block">picPath:
          <input class="file-input" type="file" id="file-input" name= "file-input" #fileInput (change)="onFileChange($event)"/>
      </label>
      <div *ngIf="picPath.invalid && (picPath.dirty || picPath.touched || formInvalid)" class="alert-required">
        <div *ngIf="picPath.errors.required">
          Picture is required.
        </div>
      </div>
      <label class="center-block">description:
        <input class="form-control" formControlName="description">
      </label>
      <label class="center-block">idReference:
        <input type="number" class="form-control" formControlName="idReference">
      </label>
      <div *ngIf="idReference.invalid && (idReference.dirty || idReference.touched || formInvalid)" class="alert-required">
        <div *ngIf="idReference.errors.required">
          Id Referece is required. Only numbers allowed
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" [disabled]="newPictureForm.invalid" (click)=onSubmit(newPictureForm)>Save</button>
      <div *ngIf=error>
        <p class="alert-required">{{error}}</p>
      </div>
      <div class="succesfully-required" *ngIf="processing">
        <p>
          {{message}}
        </p>
      </div>
    </div>
  
  </form>
  <!-- <p>Form value: {{ newPictureForm.value | json }}</p> -->
  <p>Form status: {{ newPictureForm.status | json }}</p>
  <!-- <p>Name value: {{ newPictureForm.get('name').value }}</p> -->
</div>
