
.newPictureForm {
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  text-align: center;
  color: #978c87;
}

.center-block {
  display: flex;
  flex-direction: column;
}

label {
  float: left;
  clear: left;
  width: 300px;
  text-align: left;
  margin-top: 20px;
  
}

.form-group{
  display: flex;
  flex-direction: column;
}
.add-bbutton {
  float: left;
  clear: left;
}

button {
  width: 300px;
  margin-top: 20px;
}

.input {
  float: left;
  width: 300px;  
}

input {
float: left;
width: 300px;
}



.alert-required {
  color: red;
}

.succesfully-required {
 color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
  width: 300px;
  padding-right: 72px;
  direction: rtl;
}

.form-control {
  text-align: center;

}