<div class="list-items-container">
  <div class='listed-item-image'>
    <div>
      <div class='thumbnail-container' *ngIf="pictureLink">
        <img [src]="pictureLink" onerror ="this.src='/assets/images/logo.png'"/>
      </div>  
      <div class='thumbnail-container' *ngIf="!pictureLink">
        <img src="/assets/images/logo.png" onerror ="this.src='/assets/images/logo.png'"/>
      </div>
    </div>
    <div class="button">
      <h6 class=" title-small"><button [routerLink]="['/contact']">Contact Us</button></h6>
    </div>
  </div>
</div>