<div id="custom">
  <h1>Pictures: </h1>
  <div id="loading" *ngIf="!pictures">
  </div>
  <div id="list-all-pictures" style="display:none">
    <ul *ngIf="pictures">
      <li *ngFor="let picture of pictures">
        <app-picture-model [picture] = "picture"></app-picture-model>
      </li>
    </ul>
    <div class="back-button">
      <button type="button" name="Back" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
