<div class="menu">
  <ul>
    <a [routerLink]="['about']" (click)="togglePages('about')" [routerLinkActive]="['active-link']"><li >About</li></a>
    <a [routerLink]="['models']" (click)="togglePages('models')" [routerLinkActive]="['active-link']"><li >Models</li></a>
    <a [routerLink]="['gallery']" (click)="togglePages('pictures')" [routerLinkActive]="['active-link']"><li >Pictures</li></a>
    <a [routerLink]="['offer']" (click)="togglePages('offer')" [routerLinkActive]="['active-link']"><li >Ask for Offer</li></a>
    <a [routerLink]="['contact']" (click)="togglePages('contact')" [routerLinkActive]="['active-link']"><li >Contact</li></a>
    <div class="isUser" *ngIf="user" [routerLinkActive]="['active-link']">
      <a [routerLink]="['users']" (click)="togglePages('admin')" ><li >Admin</li></a>
    </div>
  </ul>
</div>

<div class="menu-cat" *ngIf="isModelsPage">
  <ul>
    <a *ngIf="isModelsPage && user">
      <button [routerLink]="['new-item']" (click)="togglePages()">New Item</button>
    </a>
    <a [routerLink]="['models/cat1']" [routerLinkActive]="['active-link']"><li >Type 1</li></a>
    <a [routerLink]="['models/cat2']" [routerLinkActive]="['active-link']"><li >Type 2</li></a>
    <a [routerLink]="['models/cat3']" [routerLinkActive]="['active-link']"><li >Type 3</li></a>
    <a [routerLink]="['models/cat4']" [routerLinkActive]="['active-link']"><li >Type 4</li></a>
    <a [routerLink]="['models/cat5']" [routerLinkActive]="['active-link']"><li >Type 5</li></a>
    <a [routerLink]="['models/custom']" [routerLinkActive]="['active-link']"><li >Custom</li></a>
  </ul>
</div>

<div class="menu-pictures" *ngIf="isPicturesPage">
  <ul>
    <a *ngIf="isPicturesPage && user">
      <button [routerLink]="['new-picture']" (click)="togglePages()">New Picture</button>
    </a>
    <a [routerLink]="['gallery/interior']" [routerLinkActive]="['active-link']"><li>Interior</li></a>
    <a [routerLink]="['gallery/exterior']" [routerLinkActive]="['active-link']"><li>Exterior</li></a>
  </ul>
</div>

<div class="menu-pictures" *ngIf="isAdminPage && user">
  <ul>
    <a [routerLink]="['admin/messages']" [routerLinkActive]="['active-link']"><li>Messages</li></a>
    <a [routerLink]="['admin/offers']" [routerLinkActive]="['active-link']"><li>Offers</li></a>
  </ul>
</div>
