.menu ul {
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
  list-style: none;
  margin: 0;
  border-top: 1px solid black;
  padding: 0;
  border-bottom: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
}
ul {
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: transparent;
  color: #978c87;
}

ul a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #978c87;
  align-items: center;
}


a:hover {
  font-weight: bold;
}

a button {
  width: 100%;
  cursor: pointer;
}


.active-link {
  font-weight: bold;

}

a:active li{
  font-weight: bold;
}

.isUser a {
  height: 100%;
}

ul li {
  text-align: center;
  width: 100%;
  padding: 3%;
  vertical-align: middle;
}

@media(max-width: 500px){
  ul {
    margin-left: 0;
    margin-right: 0;
  }

  .menu ul {
    margin-left: 0;
    margin-right: 0;
  }

  ul li {
    padding: 0%;
  }
}