<div class="newMessageForm">
  <h2>Send your contact request</h2>
  <div *ngIf="formInvalid && newContactForm.invalid">
    <p class="alert-required">There are errors in the form, please review the fields</p>
  </div>
  <form novalidate [formGroup]="newContactForm">
    <div class="form-group">
      <label class="center-block">Name:
        <input id="name" name = "name" class="form-control" formControlName="name" required>
      </label>
      <div *ngIf="name.invalid && (name.dirty || name.touched || formInvalid)" class="alert-required">
        <div *ngIf="name.errors['required'] || formInvalid">
          Name is required.
        </div>
      </div>
      <label class="center-block">E-mail:
        <input class="form-control" type="email" formControlName="email" email required>
      </label>
      <div *ngIf="email.invalid && (email.dirty || email.touched || formInvalid)" class="alert-required">
        <div *ngIf="email.invalid || email.errors['required'] || formInvalid">
          E-mail is required. (Format accepted: name@email.com )
        </div>
      </div>
      <label class="center-block">PhoneNumber:
        <input class="form-control" formControlName="phoneNumber" number>
      </label>
      <label class="center-block">Message:
        <textarea name="messageContent" id="messageContent" cols="30" rows="10" class="textarea" formControlName="messageContent" required></textarea>
      </label>
      <div *ngIf="messageContent.invalid && (messageContent.dirty || messageContent.touched || formInvalid)" class="alert-required">
        <div *ngIf="messageContent.errors['required']">
          Please write your message. Between 20-360 caracters.
        </div>
      </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfZI2QUAAAAAELzGeUwwYUQjJmkDI3nmR7_t_jv"></div>
    <div>
      <div *ngIf=error>
        <p class="alert-required">{{error}}</p>
      </div>
      <div class="succesfully-required" *ngIf="processing">
        <p>
          {{message}}
        </p>
      </div>
    </div>
  </form>
  
  <!-- <p>Form value: {{ newContactForm.value | json }}</p>
    <p>Form status: {{ newContactForm.status | json }}</p>
    <p>Name value: {{ newContactForm.get('name').value }}</p> -->
    <div class="bottom-buttons">
    <button type="submit" class="btn btn-success" [disabled]="newContactForm.invalid" (click)=onSubmit(newContactForm)>Save</button>
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
</div>
