.newMessageForm {
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  text-align: center;
  color: #978c87;
}

label {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  margin-top: 20px;
  
}

.form-group{
  display: flex;
  flex-direction: column;
}
.add-bbutton {
  float: left;
  clear: left;
}

.input {
  float: left;
  width: 170px;  
}

.new-item {
  margin-top: 10px;
}

input {
float: left;
width: 164px;
}



.alert-required {
  color: red;
}

.succesfully-required {
 color: green;
}

select {
  width: 170px;
  padding-right: 72px;
  direction: rtl;
}

.center-block {
  width: 50%;
}

.form-control {
  text-align: left;
  width: 100%;
  padding-left: 5px;
}

input textarea {
  width: 100%;
}

.bottom-buttons {
  width: 50%;
  justify-content: space-evenly;
  display: flex;
  text-align: center;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
  margin-top: 10%;
  width: 170px;
}

@media (max-width: 500px) {

  .center-block {
    width: 95%;
  }
  .bottom-buttons {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  button {
    width: 100%;
  }
}



.textarea {
  width: 100%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

input:focus, textarea:focus { 
  border-left: 5px solid blue; /* red */
}
