
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#custom h1{
  text-align: center;
  color: #978c87;
}
@media(min-width: 500px){

  #list-all-items ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
  }
  
  #list-all-items ul li{
    display: flex;
    flex-basis: 30%;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    flex-direction: row;
  }

}

@media(max-width: 500px){
  #list-all-items ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 20px;
  }

  #list-all-items ul li{
    display: flex;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    opacity: 70%;
    margin-right: 20px;
  }
}


#list-all-items{
  width: 100%;
  display: flex;
}

.list-items-container{
  width: 100%;
  border-radius: 10px;
}

.list-items-container:hover{
  background-color: rgba(0, 0, 0, 0.2);
}


button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
}

.back-button{
 padding: 20px;
 text-align: center;
}

.back-button button:hover{
  box-shadow: 0 0 6px 3px grey; 
}
