<div id="custom">
  <h1>Items: </h1>
  <div id="loading" *ngIf="!items">
  </div>
  <div id="list-all-items" style="display:none">
    <ul *ngIf="items">
      <li *ngFor="let item of items">
        <app-item-model [item] = "item"></app-item-model>
      </li>
    </ul>
    <div class="back-button">
      <button type="button" name="Back" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
 