
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: transparent;
}

.button-bar {
  display: flex;
  justify-content: center;
}

.button-bar button {
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
}

@media(max-width: 500px) {
  .button-bar button {
    margin-left: 0;
  }
}
