
.login-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 30%;
	padding-left: 10%;
  padding-right: 10%;
}

.field{
	margin: 10%
}

.field div {
	margin-bottom: 20px;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

.submit {
	margin: 0;
	display: block;
	padding-top: 20px;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
  margin-top: 10%;
  width: 170px;
}


form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

.field label{
	color: #978c87;
}
