

img {
  width: 100px;
  height: 100px;
}

#logo a:hover img{
  width: 103px;
  height: 103px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  left: 0;
  position: sticky;
  bottom: 5px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

footer .span {
  padding-bottom: 0;
}

#site-header {
  background-color: white;
  left: 0;
  top: 0;
  padding: 0;
  margin-top: 0;
  position: sticky;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: transparent;
  color: #978c87;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.login a {
  text-decoration: none;
  color: #978c87;
}

.login a:hover{
  cursor: default;
}

.span {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #978c87
}

.logo-header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 12%;
  padding-left: 12%;
  height: 105px;
}


.header-description a img{
  width: 80px;
}

.header-description a span {
  font-size: 40px;
  text-decoration: none;
  color: #978c87;
}


.header-description a:hover {
  text-decoration: none;
}

.header-description li {
  padding-top: 25px;
  color: #978c87;
}

.router-outlet {
  padding-top: 175px;
  padding-bottom: 45px;

}

@media(max-width: 768px){ 
  .router-outlet {
    padding-top: 170px;
  }

  .header-description a span {
    font-size: 100%;
  }
}