<header id="site-header">
  <ul>
    <div class="logo-header-container">
      <li>
        <div id="logo">
          <a [routerLink]="['/']">
            <img src="../assets/images/logo.png">
          </a>
        </div>
      </li>
      <div class="header-description">
        <li *ngIf='user'> 
          <p>{{user.name}}</p>
        </li>
        <li *ngIf='!user'>
          <a [routerLink]="['/contact']">
            <span>
              Home Design Solutions
            </span>
          </a>
        </li>
      </div>
    </div>
  </ul>
  <app-pages-menu [user]="user"></app-pages-menu>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</header>
<body>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</body>
<footer>
  <div class="span">
    <div class="login">
      <a *ngIf="!user" [routerLink]="['/login']"> @Copyright VIC Design 2018 - Barcelona</a>
      <div id='logout' *ngIf='user'>
          <form (ngSubmit)="submitLogout(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
            <button class="button" type='submit'>Log out</button>
          </form>
        </div>
    </div>
  </div>
</footer>
