<div class="about">
  <h1>About Us</h1>
  <span>
    With more than 8 years of experience in building and renovating houses we came
    across so many problems. Always searching for new ideas, new solutions to our
    customers’ demands led us here, Vic Designs is trying to bring you practical 
    and modern solutions to your problems. 
    If there is something new, something that we will love to have in our home or
     work space we will bring it to you.
    We know that making your design ideas and needs real is not always easy,
    Vic Designs is going to give you that edge. We will do the research and present
    to you modern solutions to your individual needs
  </span>
  <span>
    <h6>
      Individuality
    </h6>
    Maximum flexibility for creative minds – because the best innovations are developed
    in cooperation with you. Make use of the numerous options in relation to colour,
    shape and material.
  </span>
  <span>
    <h6>
      Innovation
    </h6>
    We are always searching for new materials and applications to complement our range 
    of products to enable us to respond to any prospective problems that may cross your 
    path.
  </span>
  
  <section class="cardbox">
    <div class="container">
      <div class="row">
        <div class="col-md-6 top-slider">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/images/2.jpeg" alt="First slide">
                <div class="details-button">
                  <p>
                    The days of minimalist architecture are gone. 
                    Definitely. When the ideas of an innovative architect or designer are
                    combined with the latest laser technology, 
                    it results in a vast range of design variations that can be used 
                    for interior and exterior applications. Interior applications include 
                    room dividers and wall cladding, stair railings and room acoustics.
                    Most important  we want to present the innovative CELLON Facade System
                  </p>
                </div>
                <button class="button-photos" [routerLink]="['/contact']">Ask More</button>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/ral2.png" alt="Second slide">
                <div class="details-button">
                  <p>
                    The carrier board can be delivered in any of the 3000 colours according
                    to RAL or NCS S Edition one of the 11  ALU metallic colours.
                    You are not bounded by any standard colours and can choose exactly what 
                    you want.
                    Additionally to the free colour choice, 
                    we can also enable you totally individual forms.
                    Thanks to our laser technology with which we cut he boards,
                    nearly everything is easily achievable. 
                  </p>
                  <button class="button" type="button" [routerLink]="['/models']">See Models</button>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card"> <img class="img-fluid" src="../assets/images/CELLON.jpg" alt="">
            <div class="card-body">
              <div class="news-title">
                <h6 class=" title-small"><button (click)=goTo(cellon)>Cellon</button></h6>
              </div>
            </div>
          </div>
          <div class="card"> <img class="img-fluid" src="../assets/images/FORMBOARD.jpg" alt="">
            <div class="card-body">
              <div class="news-title">
                <h6 class=" title-small"><button (click)=goTo(formboard)>Formboard</button></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card"> <img class="img-fluid" src="../assets/images/MDF.jpg" alt="">
            <div class="card-body">
              <div class="news-title">
                <h6 class=" title-small"><button (click)=goTo(mdf)>MDF</button></h6>
              </div>
            </div>
          </div>
          <div class="card"> <img class="img-fluid" src="../assets/images/PLYWOOD.jpg" alt="">
            <div class="card-body">
              <div class="news-title">
                <h6 class=" title-small"><button (click)=goTo(plywood)>Plywood</button></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="container">
    <div id="cellon">
      <div>
        <h2>CELLON: </h2>
        <img src="../assets/images/CELLON.jpg" alt="">
      </div>
      <p>
        The façade with the plus. CELLON® keeps what it promises. 
        In a colour and shape variety to the joy of every designer. 
        With a resistance that would even impress every sceptic.
        The compact high-pressure laminate board based on cellulose and 
        phenol resin passes every endurance test.
        8 millimetres defy all weather challenges. 
        And nearly every perforation you can imagine is possible. CELLON.
        The façade with the plus.
      </p>
      <h6>Main Caracteristics</h6>
      <ul>
        <li>
          Area of use: Exterior and Interior
        </li>
        <li>
          What is it: Compact High-Pressure laminated board (HPL) 
        </li>
        <li>
          Thickness available: 8 or 10mm
        </li>
        <li>
          Maximum Format: 8x3630x1860/ 8x3050x1300mm
        </li>
      </ul>
    </div>
  </div>
  <div id="mdf">
    <div>
      <h2>MDF: </h2>
      <img src="../assets/images/MDF.jpg" alt="">
    </div>
    <p>
      The versatile. A medium-densityfibreboard that offers more than its sterile name
      would allow one to imagine. In the interior, it can be used for banisters, 
      partition, wall claddings, acoustics, room dividers and much more. 
      Always included: unconditional individuality. 
      We serially offer you panels with strengths 10, 19 and 30 mm. 
      apart from that, your phantasy will not be obstructed.
    </p>
    <h6>Main Caracteristics</h6>
    <ul>
      <li>
        Area of use: Interior
      </li>
      <li>
        What is it: Medium Density Fibredoard
      </li>
      <li>
        Thickness available: 4, 6, 8, 10, 19, 30mm
      </li>
      <li>
        Maximum Format: 10x2800x2070/ 30x5600x2070mm
      </li>
    </ul>
  </div>
  <div id="formboard">
    <div>
      <h2>Formboard: </h2>
      <img src="../assets/images/FORMBOARD.jpg" alt="">
    </div>
    <div>
      <p>
        A façade which is not “façade” at all. Once a world innovation and still
        the only wood fibre board with approval by the DiBt has now been on the
        market for a few years. During this time, the Formboard facade system 
        has been tried and tested in hundreds of industrial, private and public
        buildings. And there is more. Thanks to its ecological credentials and the
        design freedom it offers, it is becoming more and more popular with architects 
        and property owners. And that from Germany to Bahrain. (Eco)logical, isn’t it!
      </p>
      <h6>Main Caracteristics</h6>
      <ul>
        <li>
          Area of use: Exterior and Interior
        </li>
        <li>
          What is it: Wooden board with ololyurethane bonding (without formaldehyde)
        </li>
        <li>
          Thickness available: 10 or 18mm
        </li>
        <li>
          Maximum Format: 18x6200x2100mm/ 10x6100x2100mm
        </li>
      </ul>
    </div>
  </div>
  <div id="plywood">
    <div>
      <h2>PLYWOOD: </h2>
      <img src="../assets/images/PLYWOOD.jpg" alt="">
    </div>
    <p>
      The rustic with a modern touch. Individual perforations and keep the familiarity
      of a wood structure? Then our plywood might be the right solution for you. 
      It has proven to be able to bring traditional flair into modern rooms. 
      The multilayered panels are usually varnished in our production but are 
      theoretically available in all RAL and NCS colours.
    </p>
    <h6>Main Caracteristics</h6>
    <ul>
      <li>
        Area of use: Interior
      </li>
      <li>
        What is it: Oak Plywood
      </li>
      <li>
        Thickness available: 18mm
      </li>
      <li>
        Maximum Format: 18x3000x1500mm
      </li>
    </ul>
  </div>
  <div class="back-button">
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
</div>
