h1 {
  text-align: center;
  color: #978c87
}

.about span {
  padding-top: 5px;
  margin-top: 10px;
}
.back-button {
  padding-top: 10px;
}

h6 {
  font-weight: bold;
}

.cardbox {
  padding-top: 5%;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
  margin-top: 10%;
}

.about {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#container {
  padding-top: 5%;
}

.about {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #978c87;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}


.carousel-indicators {
  padding-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #978c87;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #978c87;
}



ul {
  list-style: none;
  padding: 0;
}


@media (min-width: 500px) {
  .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .carousel-item{
    max-width:100%;
    height: 620px !important;
  }
  #plywood img, #formboard img, #mdf img, #cellon img {
    max-width: 400px;
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  #plywood img, #formboard img, #mdf img, #cellon img {
    max-width: 270px;
    max-height: 180px;
  }
}
