
<div *ngIf="!rowData" id="loading">
</div>

<div *ngIf="loggedInUser" id="offers-container" style="display:none">
  <h1>Received Messages</h1>
  
  <ag-grid-angular 
    #agGrid
    style="width: 100%; height: 395px;" 
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enableColResize]="true"
    (gridReady)="onGridReady($event)"
    rowSelection="single"
    >
  </ag-grid-angular>
  
  <div class="button-bar">
    <button (click)="markAsReaded()">Readed / Unreaded</button>
    <button (click)="sizeToFit()">Size to Fit</button>
    <button (click)="autoSizeAll()">Auto-Size All</button>
    <button (click)="editRow()">Edit</button>
    <button type="button" name="Back" (click)="goBack()">Back</button>

  </div>
  