
.listed-item-id, .button {
  text-align: center;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
}

.listed-item-image a:hover {
 cursor: pointer;
}
.list-items-container{
  display:flex;
}

.listed-item-image img{
  width: 100%;
}

@media(max-width: 500px){
  .listed-item-image img{
    width: 100%;
  }
}
