<div class="newOfferForm">

  <h2>Send your offer request</h2>
  <div *ngIf="formInvalid && newOfferForm.invalid">
    <p class="alert-required">There are errors in the form, please review the fields</p>
  </div>
  <form [formGroup]="newOfferForm">
    <div class="form-group">
      <div class="form-container">
        <div class="left-group">
          <label class="center-block">First Name:
            <input id="firstName" name = "firstName" class="form-control" formControlName="firstName" required>
          </label>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || formInvalid)" class="alert-required">
            <div *ngIf="firstName.errors['required'] || formInvalid">
              First Name is required.
            </div>
          </div>
          <label class="center-block">Surname:
            <input id="surName" name = "surName" class="form-control" formControlName="surName" required>
          </label>
          <div *ngIf="surName.invalid && (surName.dirty || surName.touched || formInvalid)" class="alert-required">
            <div *ngIf="surName.errors['required'] || formInvalid">
              Surname is required.
            </div>
          </div>
          <label class="center-block">E-mail:
            <input class="form-control" type="email" formControlName="email" email required>
          </label>
          <div *ngIf="email.invalid && (email.dirty || email.touched || formInvalid)" class="alert-required">
            <div *ngIf="email.invalid || email.errors['required'] || formInvalid">
              E-mail is required. (Format accepted: name@email.com )
            </div>
          </div>
          <label class="center-block">Phone:
            <input class="form-control" formControlName="phone" >
          </label>
          <label class="center-block">Company Name:
            <input class="form-control" formControlName="companyName" >
          </label>
          <label class="center-block">Address:
            <input class="form-control" formControlName="address" required>
          </label>
          <div *ngIf="address.invalid && (address.dirty || address.touched || formInvalid)" class="alert-required">
            <div *ngIf="address.errors['required'] || formInvalid">
              Address is required.
            </div>
          </div>
          <label class="center-block">City:
            <input class="form-control" formControlName="city" required>
          </label>
          <div *ngIf="city.invalid && (city.dirty || city.touched || formInvalid)" class="alert-required">
            <div *ngIf="city.errors['required'] || formInvalid">
              City is required.
            </div>
          </div>
          <label class="center-block">Zip Code:
            <input class="form-control" formControlName="zipCode" type="text" pattern="^[0-9]{5}(?:-[0-9]{4})?$" required>
          </label>
          <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched || formInvalid)" class="alert-required">
            <div *ngIf="zipCode.errors['required'] || formInvalid">
               Insert a valid ZipCode.
            </div>
          </div>
          <label class="center-block">Country:
            <input class="form-control" formControlName="country" required>
          </label>
          <div *ngIf="country.invalid && (country.dirty || country.touched || formInvalid)" class="alert-required">
            <div *ngIf="country.errors['required'] || formInvalid">
              Country is required.
            </div>
          </div>
        </div>
        <div class="right-group">
          <label class="center-block">Profession:
            <select formControlName="profession">
              <option class="select-control" *ngFor="let profession of professions" [value]="profession.name">{{profession.name}}</option>
            </select>
          </label>
          <label *ngIf="profession.value==='Other'" class="center-block">Other profession:
            <input class="form-control" formControlName="otherProfession" >
          </label>
          <label class="center-block">Application:
            <select formControlName="application" required>
              <option class="form-control" *ngFor="let application of applications" [value]="application.name" >{{application.name}} </option>
            </select>
          </label>
          <div *ngIf="application.invalid && (application.dirty || application.touched || formInvalid)" class="alert-required">
            <div *ngIf="application.errors['required'] || formInvalid">
              Application is required.
            </div>
          </div>
          <label *ngIf="application.value==='Other'" class="center-block" required>Other Application:
            <input class="select-control" formControlName="otherApplication" >
          </label>
          <div *ngIf="otherApplication.invalid && (otherApplication.dirty || otherApplication.touched || formInvalid)" class="alert-required">
            <div *ngIf="otherApplication.errors['required'] || formInvalid">
              If application not choosen, other application is required.
            </div>
          </div>
          <label class="center-block">Category Type
            <select formControlName="categoryType" required>
              <option class="select-control" *ngFor="let categoryType of categoryTypes" [value]="categoryType.name">{{categoryType.name}}</option>
            </select>
          </label>
          <div *ngIf="categoryType.invalid && (categoryType.dirty || categoryType.touched || formInvalid)" class="alert-required">
            <div *ngIf="categoryType.errors['required'] || formInvalid">
              Category type is required.
            </div>
          </div>
          <label *ngIf="categoryType.value!=='Custom'" class="center-block">Model Number:
            <input class="form-control" formControlName="modelId" required>
          </label>
          <div *ngIf="modelId.invalid && (modelId.dirty || modelId.touched || formInvalid)" class="alert-required">
            <div *ngIf="modelId.errors['required'] || formInvalid">
              Model number is required. 
            </div>
          </div>
          <label class="center-block">Width in centimeters:
            <input type="number" class="form-control" formControlName="width" required>
          </label>
          <div *ngIf="width.invalid && (width.dirty || width.touched || formInvalid)" class="alert-required">
            <div *ngIf="width.invalid || width.errors['required'] || formInvalid">
              Width is required.
            </div>
          </div>
          <label class="center-block">Height in centimeters:
            <input type="number" class="form-control" formControlName="height" required>
          </label>
          <div *ngIf="height.invalid && (height.dirty || height.touched || formInvalid)" class="alert-required">
            <div *ngIf="height.invalid || height.errors['required'] || formInvalid">
              Height is required.
            </div>
          </div>
          <label class="center-block">Project Name:
            <input class="form-control" formControlName="projectName" >
          </label>
        </div>
        <div class="bottom-block">
          <label class="message-textarea">
            <span>Message</span>
            <textarea name="messageContent" id="messageContent" cols="30" rows="10" class="form-control" formControlName="messageContent"></textarea>
          </label>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf=error>
        <p class="alert-required">{{error}}</p>
      </div>
      <div class="succesfully-required" *ngIf="processing">
        <p>
          {{message}}
        </p>
      </div>
    </div>
  </form>
  <!-- 
    <p>Form value: {{ newOfferForm.value | json }}</p>
    <p>Form status: {{ newOfferForm.status | json }}</p>
    <p>Name value: {{ newOfferForm.get('firstName').value }}</p> -->
    <div class="bottom-buttons">
      <button type="submit" class="btn btn-success" [disabled]="newOfferForm.invalid" (click)=onSubmit(newOfferForm)>Save</button>
      <button type="button" name="Back" (click)="goBack()">Back</button>
    </div>
    
</div>