
.newOfferForm {
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  text-align: center;
  color: #978c87;
}

label {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  margin-top: 20px;
  
}

.form-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-bbutton {
  float: left;
  clear: left;
}


.new-item {
  margin-top: 10px;
}

.left-group input {
  float: left;
  width: 95%;
}

input {
  float: left;
  width: 100%;
  padding-left: 5px;
}


.alert-required {
  color: red;
}

.succesfully-required {
 color: green;
}

select {
  width: 100%;
  direction: ltr;
  padding: 1px;
}

.form-control {
  text-align: left;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

input:focus, textarea:focus { 
  border-left: 5px solid blue; /* red */
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left-group {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.right-group {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.bottom-block {
  width: 60%;
}

.message-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center-block {
  width: 100%;
}

@media (min-width: 500px) {
  .message-textarea textarea {
    width: 100%;
  }
}

.bottom-buttons {
  justify-content: space-evenly;
  display: flex;
  text-align: center;
}

button {
  border-radius: 12px;
  background-repeat:no-repeat;
  cursor:pointer;
  background-color: Transparent;
  color: #978c87;
  border: 2px solid #978c87;
  margin-top: 10%;
  width: 170px;
}

@media (max-width: 500px) {

  .bottom-buttons {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  button {
    width: 100%;
  }

  input {
    margin-top: 5px;
    margin-left: 5px;
    width: 95%;
    padding-left: 5px;
  }

  .message-textarea textarea {
    padding-right: 5px;
    width: 95%
  }

  .center-block {
    width: 100%;
  }

  .message-textarea {
    padding-right: 5px;
  }

  .bottom-block {
    width: 100%;
  }

  .message-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .left-group {
    width: 100%;
    margin-right: 40px;
  }

  .right-group {
    width: 100%;
  }
  select {
    width: 96.78%;
  }

}